  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  * {
    box-sizing: border-box;
  }

  /*This contains styling for the body and resizing capabilities*/
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
  }
  /*This includes styling for background and resizing capabilities*/
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
  }
  
  .flex-container .box {
    background-color: #f1f1f1;
    width: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  /*This includes styles for Warrior Gains, and box surrounding text for resizing functionalities*/
  .slider-container {
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 700;
    color: forestgreen;
    text-transform: uppercase;
    letter-spacing: 1rem;
    transform: skew(-10deg); 
    text-align: center;
    
  }
  /*This contains styling for register and login buttons*/
  .slider-container a {
    color: darkgrey;
    font-family: sans-serif;
    background-color: darkgreen;
    border-radius: 12px;
    text-decoration: none;
    padding-left: 10px;
    box-shadow: 1px 1px 1px black;
  }