
<%- include('partials/header') %>


        <div class="nav">
            <!--Opy include these logos to replace texts-->
            <!--<i class="fas fa-house-user"></i>
            <i class="fas fa-users"></i>
            <i class="fas fa-envelope-square"></i>
            <i class="far fa-user-circle"></i>
            <i class="fas fa-cog"></i>-->

            <!--<section id="rightSideLinks">-->
            
                <div class="dropdown">
                    <button class="dropbtn">Settings</button>
                    <div class="dropdown-content">
                        <a class="btn btn-dark btn-lg" role="button" href="/">Log Out</a>
                    </div>
                </div>
                <!--<a type="submit" class="btn btn-dark btn-lg" role="button"  href="#settings">Settings</a>-->
                <a type="submit" class="btn btn-dark btn-lg" role="button"  href="/profile">Profile</a>
                <a type="submit" class="btn btn-dark btn-lg" role="button" href="#inbox">Inbox</a>
                <a type="submit" class="btn btn-dark btn-lg" role="button" href="#friends">Friends</a>
                <a type="submit" class="btn btn-dark btn-lg" role="button" href="/feed">Home</a>
                
                
                
            <!--</section>-->
                
            <div class="search-bar">
                <form>
                    <input type="text" placeholder="Search Warrior Gains" name="search">
                    <a type=""><i class="fa fa-search"></i></a>
                </form>
            </div>
            
        </div>

        <div class="feed-sections">

            <div class="findfriends">
                <h5>Add Friends</h5>
    
            </div>
    
            <div class="post">
                <h5>Have Something On Mind? Share it.</h5>
    
            </div>
    
            <div class="online">
                <h5>Online</h5>
    
            </div>

        </div>
        
        <style>

            body{
                background-color: gainsboro;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                
            }

            .nav{
                /*background-color: forestgreen;
                margin-left:auto;
                margin-right:auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;*/
                /*height: 50px;*/

                overflow: hidden;
                background-color: gainsboro;

            }
            
            
            div.nav form{
                margin-top:0.2%;
                margin-left:5%;
                margin-right:5%;

                display: flex;
                flex: 20%;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 40px;

            }

            .nav a {
                /*height: 40px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                flex: space-evenly;
                flex: 20%;*/

                float: right;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .nav a:hover {
                background-color: #ddd;
                color: black;
            }

            .nav a.active {
                background-color: forestgreen;
                color: white;
            }

            .nav button {
                /*height: 40px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                flex: space-evenly;
                flex: 20%;*/

                float: right;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .nav button:hover {
                background-color: #ddd;
                color: black;
            }

            .nav button.active {
                background-color: forestgreen;
                color: white;
            }

            .nav .search-bar {
                float: left;
            }

            .nav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
            }

            .nav .search-bar button {
                float: left;
                padding: 6px 10px;
                margin-top: 8px;
                margin-right: 16px;
                background: #ddd;
                font-size: 17px;
                border: none;
                cursor: pointer;
            }

            .nav .search-bar button:hover {
                background: #ccc;
            }

            .dropbtn {
                background-color: gainsboro;
                color: gainsboro;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                float: right;
            }

            .dropdown {
                position: relative;
                float: right;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: gainsboro;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                float: right;
            }

            .dropdown-content a {
                color: black;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {
                background-color: gainsboro;
            }

            .dropdown:hover .dropdown-content {
                display: flex;
                text-align: center;
            }

            .dropdown:hover .dropbtn {
                background-color: gainsboro;
            }


            .feed-sections {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }

            .findfriends{
                
                /*width:200px;
                height:800px;
                float:left;
                padding-top:20px;
                text-align:center;*/

                flex: 20%;
                text-align: center;
                height: 100vh;  
                
            }

            div.findfriends h5{
                text-align:center;
                background-color: lightyellow;
                
                margin:2%;
                border-radius: 2px;
            }

            .post{
               
                /*width:850px;
                height:800px;
                float:left;
                background-color: lightgray;
                text-align:center;
                padding-top:20px;*/

                flex: 60%;
                text-align: center;
                height: 100vh;
                background-color: lightgray;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .online{
                
                /*width:200px;
                height:800px;
                float:left;
                padding-top:20px;
                text-align:center;*/

                flex: 20%;
                text-align: center;
                height: 100vh;
            }

            div.online h5{
                text-align:center;
                background-color: lightyellow;
                margin:2%;
                border-radius: 2px;
            }
            
    
        </style>
        
        <%- include('partials/footer') %>

  