<%- include('partials/header') %>
<nav>
    <div class="nav-left">
        <h1 class="logo">Warrior Gains</h1>
        <ul>
            
            <!--<li><img src="/notification.png" ></li>-->
            <li><i class="far fa-bell"></i></li>
            <!--<li><img src="/inbox.png" ></li>-->
            <li><i class="fas fa-inbox"></i></li>
            <!--<li><img src="/video.png" ></li>-->
            <li><i class="fas fa-video"></i></li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>

        <div class="nav-user-icon online" >
            <a href="/profile"> <i class="fas fa-users"></i></a>
        </div>

     
        <a class="btn btn-dark btn-lg" role="button" href="/" id="logOut"><i class="fas fa-sign-out-alt"></i>Log Out</a>
    </div>
</nav>


<div class="container">
    <!--left-side-bar-->
    <div class="left-sidebar">
        <div class="imp-links">
            
            <a href="/feed"><i class="fas fa-home"></i> Home</a>
            <a href="#"><i class="far fa-newspaper"></i> News</a>
             <a href="/my-posts"><i class="far fa-newspaper"></i> My Posts</a>
            <a href="#"><i class="fas fa-user-friends"></i> Friends</a>
            <a href="#"><i class="fas fa-layer-group"></i> Groups</a>
            <button onclick="myFunction()">Dark mode</button>
        </div>

        
    </div>
    <div class="main-content">
        <div> 
            <div class="profile-widget">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="image-container" style="background-color:green;">  
                            <img src="https://images.unsplash.com/photo-1548536904-f6660b76e77a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=80&q=80" class="avatar" alt="avatar"> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="details">
                        
                            
                            <h3><%= user.fname %> <%= user.lname %></h3>

                            <div>Bio: add a bio here</div>
                            <div>Link: *add links here*</div>
                            <div class="mg-top-10">
                                <a class="btn btn-dark btn-lg" role="button"  href="/edit">Edit Profile</a>
                            </div>
                        </div>
                    </div>  
            <div>
               



                
            </div>
                </div>
            </div>  
            

             <!--<li>     
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <blockquote>
                                   
                                        <button class="btn" type="button" style="color:#eb3b60;"> 
                                        <span> 5 Likes</span></button>
                                        <button class="btn comment" type="button" style="color:#eb3b60;">
                                        <span style="color:#f9d616;"> 2 Comments</span></button>
                                    
                                </blockquote>
                            </li>
                            <li class="list-group-item">
                                <blockquote>
                                    <p>@user Hello World</p>
                                    <button class="btn" type="button" style="color:#eb3b60;"> 
                                    <span> 5 Likes</span></button>
                                    <button class="btn comment" type="button" style="color:#eb3b60;">
                                    <span style="color:#f9d616;"> 2 Comments</span></button>
                                </blockquote>
                            </li>
                            <li class="list-group-item">
                                <blockquote>
                                    <p>@user Hello World</p>
                                    <button class="btn" type="button" style="color:#eb3b60;"> 
                                        <span> 5 Likes</span></button>
                                        <button class="btn comment" type="button" style="color:#eb3b60;">
                                        <span style="color:#f9d616;"> 2 Comments</span></button>
                                </blockquote>
                            </li>
                            <li class="list-group-item">
                                <blockquote>
                                    <p>@user Hello World</p>
                                    <button class="btn" type="button" style="color:#eb3b60;"> 
                                        <span> 5 Likes</span></button>
                                        <button class="btn comment" type="button" style="color:#eb3b60;">
                                        <span style="color:#f9d616;"> 2 Comments</span></button>
                                </blockquote>
                            </li>
                            <li class="list-group-item">
                                <blockquote>
                                    <p>@user Hello World</p>
                                    <button class="btn" type="button" style="color:#eb3b60;"> 
                                        <span> 5 Likes</span></button>
                                        <button class="btn comment" type="button" style="color:#eb3b60;">
                                        <span style="color:#f9d616;"> 2 Comments</span></button>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button class="btn" type="button" style="width:100%;
                        background-color:green;color:#fff;padding:16px 32px;
                        margin:0px 0px 6px;border:none;box-shadow:none;
                        text-shadow:none;opacity:0.9;text-transform:uppercase;
                        font-weight:bold;font-size:13px;letter-spacing:0.4px;line-height:1;outline:none;">NEW POST</button>
                        <ul class="list-group"></ul>
                    </div>
                </div>
            </div></li>-->
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                
            </div>     
         </div>

</div>
</div>

<script>
function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
 }</script>
<style>

    /*This contains styling for general, background*/
    * {
        margin: 0;
        padding: 0;
        font-family: 'poppins', sans-serif;
        box-sizing: border-box;
    }
    body {
        background-color: gainsboro;
    }

    /*This contains styling for navigation*/

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: gainsboro;
        padding: 5px 5%;
        position: sticky;
        top: 0;
        z-index: 100; 
    }

    h1 {
        color: forestgreen;
        transform: skew(-10deg);
    }

    .logo {
        width: 160px;
        margin-right: 45px;
    }

    .nav-left, .nav-right {
        display: flex;
        align-items: center;
        
    }

    .nav-left ul li {
        list-style: none;
        display: inline-block;
    }

    .nav-left ul li i {
        width: 28px;
        margin: 0 15px;
    }
    .unlike {
        cursor: pointer;
    }
    .like {
        cursor: pointer;
        color: #09a;
    }
    .nav-user-icon i {
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .nav-user-icon {
        margin-left: 30px;
    }

    .search-box {
        background: #F2F3E9;
        width: 350px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }

    .search-box i {
        width: 18px;

    }

    .search-box input {
        width: 100%;
        background: transparent;
        padding: 10px;
        outline: none;
        border: 0;
    }

    .online {
        position: relative;
    }

    /*This contains styling for "online" indicator*/

    /*.online::after {
        content: '';
        width: 7px;
        height: 7px;
        border: 2px solid gainsboro;
        border-radius: 50%;
        background: #41db51;
        position: absolute;
        top: 0;
        right: 0;
    }*/


    /*This contains styling for body/feed page*/
    .container {
        display: flex;
        justify-content: space-between;
        padding: 13px 5%;
    }


    /*This contains styling for left-sidebar*/
    .left-sidebar {
        
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        
    }


    /*This contains styling for right-sidebar*/
    .right-sidebar {
        background: #F2F3E9;
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        padding: 20px;
        border-radius: 4px;
        color: #626262;
        
    }


    /*This contains styling for middle part of the body, main content of the feed*/
    .main-content {
        flex-basis: 47%;
    }

    .imp-links a{
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #626262;
        width: fit-content;
    }

    .imp-links a i {
        width: 25px;
        margin-right: 15px;
    }

    .imp-links a:last-child {
        color: green;
    }

    .imp-links {
        border-bottom: 1px solid #ccc;
    }

    .imp-links button {
        background-color: #626262;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sidebar-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .right-sidebar h4{
        font-weight: 600;
        font-size: 16px;
    }

    .sidebar-title a{
        text-decoration: none;
        color: green;
        font-size: 12px;
    }

    .event {
        display: flex;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .left-event {
        border-radius: 10px;
        height: 65px;
        width: 65px;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .event p{
        font-size: 12px;
    }

    .event a{
        font-size: 12px;
        text-decoration: none;
        color: green;
    }

    .left-event span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: green;
        color: white;
        font-size: 10px;
        padding: 4px 0;
    }

    .online-list{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .online-list .online img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .online-list .online {
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .online-list .online::after{
        top: unset;
        bottom: 5px;
    }

    #logOut{
        display: flex;
        text-decoration: none;
        color: #626262;
    }

    .write-post-container{
        width: 100%;
        background: whitesmoke;
        border-radius: 6px;
        padding: 20px;
        color: #626262;
    }

    .user-profile{
        display: flex;
        align-items: center;
    }

    .user-profile img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-profile p{
        margin-bottom: -5px;
        font-weight: 500;
        color: #626262;
    }

    .user-profile small{
        font-size: 12px;
    }

    .post-input-container {
        padding-left: 55px;
        padding-top: 20px;
    }

    .post-input-container textarea{
        width: 100%;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #ccc;
        background: transparent;
        resize: none;
    }

    .add-post-links{
        display: flex;
        margin-top: 10px;
    }

    .add-post-links a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #626262;
        margin-right: 30px;
        font-size: 13px;
    }

    .add-post-links a i{
        width: 20px;
        margin-right: 10px;
    }

    .post-container{
        width: 100%;
        background: whitesmoke;
        border-radius: 6px;
        padding: 20px;
        color: #626262;
        margin: 20px 0;
        margin-top: 20px;
    }

    .user-profile span{
        font-size: 13px;
        color: #9a9a9a;
    }

    .dark-mode {
        background-color: black;
        color: forestgreen; 
    }
    
.profile-widget {
  position: relative;
}
.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 190px 0 10px;
}
.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto;
  align-items: center;
}
.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block;
}
.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center;
}
</style>


<%- include('partials/header') %>