<%- include('partials/header') %>

    <!--<div class="container mt-5">
        <h1>Join Warrior Gains!</h1>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">-->

                        <!--  POST request to /register route -->
                        <!--<form action="/register" method="POST">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" name="fname">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" name="lname">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="date" class="form-control" name="dob">
                            </div>
                            <button type="submit" class="btn btn-dark">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="section-register">
        <h1 class="section-register-heading">Join Warrior Gains!</h1>

                        <!--  POST request to /register route -->
                        <form action="/register" method="POST">

                            <div class="register-form">
                                <!--<label for="fname">First Name</label>-->
                                <input type="text" class="form-control" name="fname" placeholder="First Name"> 
                            </div>
                            <div class="register-form">
                                <!--<label for="lname">Last Name</label>-->
                                <input type="text" class="form-control" name="lname" placeholder="Last Name">
                            </div>
                            <div class="register-form">
                                <!--label for="email">Email</!--label>-->
                                <input type="email" class="form-control" name="username" placeholder="Email">
                            </div>
                            <div class="register-form">
                                <!--<label for="password">Password</label>-->
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <!--<label for="dob">Date of Birth:</label>-->
                                <input type="date" class="form-control" name="dob" placeholder="Enter a date-of-birth...">
                            </div>
                            <button class="btn btn-light btn-lg" role="button" id="register-form-btn" type="submit">Register</button>
                            <!--<button type="submit" id="register-form-btn">Register</button>-->
                        </form>

                    </div> 
                </div>
            </div>


        </div>
    <style>
        /*This contains style for body*/
        body {
            background-color: gainsboro;
        }

        /*This contains style for background*/
        .section-register {
            width: 100%;
            height: 100vh;
            background-color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: gainsboro; 
        }

        /*This contains style for "Join Warrior Gains"*/
        .section-register-heading {
            font-size: 3rem;
            font-weight: 700;
            color: forestgreen;
            /*background-color: green;*/
            padding: 0 4rem;
            margin-bottom: -5rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            /*border-bottom: 0.3rem solid #fff;
            text-shadow: 0.2rem 0.2rem 1rem #555;*/
            transform: skew(-10deg); 
        }

        /*This contains style for register forms*/
        .register-form {
            width: 25rem;
            flex-direction: column;
            display: flex;
        }

        /*This contains style for register forms input and text area*/
        .register-form input,
        .register-form textarea {
            width: 100%;
            padding: 0.5rem;
            margin: 0.5rem 0;
            background-color: gainsboro;
            font-size: 1.5rem; 
            border: 0.2rem solid forestgreen;
            color: #555;
            display: flex;
            /*float: left;*/
        }

        /*This expands input for register textarea styling*/
        .register-form textarea {
            height: 10rem;
            max-height: 15rem;
            max-width: 100%;
            display: flex;
        }

        /*This contains styling for register button*/
        #register-form-btn {
            background-color: forestgreen;
            color: gainsboro;
            text-transform: uppercase;
            letter-spacing: 1rem;
            cursor: pointer;
            justify-content: center;
            display: flex;
            text-align: center;
            border-color: gainsboro;
            /*margin: 0;*/
            /*position: absolute;*/
            top: 90%;
            /*left: 80%;*/
            margin-left: 140px;
            margin-top: 20px;
            /*-ms-transform: translate(-50%, -50%);*/
            transform: translate(-25%, -10%);
        }
        
    </style>
    
<%- include('partials/header') %>

    